<div class='container-flex'>
  <img
    class='peca pt-baixo1'
    width='200px'
    height='200px'
    src='/img/pt-cima/{{lookCriado.parte_cima}}.png'
    alt=''
  />
  <img
    class='peca pt-baixo2'
    width='200px'
    height='200px'
    src='/img/pt-baixo/{{lookCriado.parte_baixo}}.png'
    alt=''
  />
  <img
    class='peca pt-baixo3'
    width='200px'
    height='200px'
    src='/img/calssado/{{lookCriado.calcado}}.png'
    alt=''
  />
  <img
    class='peca pt-baixo4'
    width='200px'
    height='200px'
    src='/img/acessorio/{{lookCriado.acessorio}}.png'
    alt=''
  />
</div>