<html>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='initial-scale=1, width=device-width' />

  <link rel='stylesheet' href='/css/global.css' />
  <link rel='stylesheet' href='/css/acessorio.css' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400&display=swap' />
  <link rel='stylesheet'
    href='https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,400;1,700&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Girassol:wght@400&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@400&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap' />
</head>

<body>
  <div class='div'>
    <div class='child'></div>
    <div class='item'></div>
    <div class='inner'></div>
    <div class='rectangle-div'></div>
    <div class='child1'></div>
    <img class='star-icon' alt='' src='/img/star-3.svg' />

    <img class='child2' alt='' src='/img/star-3.svg' />

    <img class='child3' alt='' src='/img/star-3.svg' />

    <img class='child4' alt='' src='/img/star-3.svg' />

    <img class='child5' alt='' src='/img/star-3.svg' />

    <img class='child6' alt='' src='/img/star-3.svg' />

    <img class='child7' alt='' src='/img/star-3.svg' />

    <div class='sparkle'>sparkle</div>
    <img class='icon-1' alt='' src='/img/icon-1@2x.png' />

    <img class='image-1-icon' alt='' src='/img/image-1@2x.png' />

    <div class='acessrio'>Acessório</div>
    <div class='photos-select'>
      <img class='peca acessorio1' width='100px' height='100px' src='/img/acessorio/acessorio1.png' alt='' />
      <img class='peca acessorio2' width='100px' height='100px' src='/img/acessorio/acessorio2.png' alt='' />
      <img class='peca acessorio3' width='100px' height='100px' src='/img/acessorio/acessorio3.png' alt='' />
      <img class='peca acessorio4' width='100px' height='100px' src='/img/acessorio/acessorio4.png' alt='' />
      <img class='peca acessorio5' width='100px' height='100px' src='/img/acessorio/acessorio5.png' alt='' />
      <img class='peca acessorio6' width='100px' height='100px' src='/img/acessorio/acessorio6.png' alt='' />
      <img class='peca acessorio7' width='100px' height='100px' src='/img/acessorio/acessorio7.png' alt='' />
      <img class='peca acessorio8' width='100px' height='100px' src='/img/acessorio/acessorio8.png' alt='' />
      <img class='peca acessorio9' width='100px' height='100px' src='/img/acessorio/acessorio9.png' alt='' />
      <img class='peca acessorio10' width='100px' height='100px' src='/img/acessorio/acessorio10.png' alt='' />
    </div>
    <div class='rectangle-parent1'>
      <a href='pagina-inicial' class='ex-regata-branca'>
        <button class='group-child1'>
          Salvar
        </button>
      </a>
    </div>
  </div>
</body>
<script src='/js/selectAcessorio.js'></script>

</html>