<html>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='initial-scale=1, width=device-width' />
  <link rel='stylesheet' href='/css/global.css' />
  <link rel='stylesheet' href='/css/cadastrar.css' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400&display=swap' />
  <link rel='stylesheet'
    href='https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,400;1,700&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Girassol:wght@400&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@400&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap' />
</head>

<body>
  <div class='div4'>
    <div class='child48'></div>
    <div class='child49'></div>
    <div class='child50'></div>
    <div class='child51'></div>
    <div class='child52'></div>
    <img class='child53' alt='' src='/img/star-3.svg' />

    <img class='child54' alt='' src='/img/star-3.svg' />

    <img class='child55' alt='' src='/img/star-3.svg' />

    <img class='child56' alt='' src='/img/star-3.svg' />

    <img class='child57' alt='' src='/img/star-3.svg' />

    <img class='child58' alt='' src='/img/star-3.svg' />

    <img class='child59' alt='' src='/img/star-3.svg' />

    <div class='sparkle4'>sparkle</div>
    <img class='icon-14' alt='' src='/img/icon-1@2x.png' />

    <img class='image-1-icon4' alt='' src='/img/image-1@2x.png' />

    <form action="/register" method="post">
      <div class='cadastro'>cadastro</div>
      <div class='rectangle-parent5' id='groupContainer'>
        <button type="submit" class='group-child4'>Cadastrar</button>

      </div>
      <div class='rectangle-parent6'>
        <input name="email" placeholder="Email" class='group-child5'></input>
      </div>
      <div class='rectangle-parent7'>
        <input name="name" placeholder="Nome de usuario" class='group-child6'></input>

      </div>
      <div class='rectangle-parent8'>
        <input name="password" placeholder="Senha" class='group-child7' type="password"></input>

      </div>
    </form>
  </div>

  <script>
    //var groupContainer = document.getElementById("groupContainer"); if
     // (groupContainer) {
      //groupContainer.addEventListener("click", function (e) {
       // window.location.href = "/login";
      //});
   // }
  </script>
</body>

</html>