<html>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='initial-scale=1, width=device-width' />
  <link rel='stylesheet' href='/css/global.css' />
  <link rel='stylesheet' href='/css/peçaDeCima.css' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400&display=swap' />
  <link rel='stylesheet'
    href='https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,400;1,700&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Girassol:wght@400&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@400&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap' />
</head>

<body>
  <div class='div6'>
    <header>
      <div class='rectangle-rosa'></div>
      <div class='child72'></div>
      <div class='child73'></div>
      <div class='child74'></div>
      <img class='child75' alt='' src='/img/star-3.svg' />

      <img class='child76' alt='' src='/img/star-3.svg' />

      <img class='child77' alt='' src='/img/star-3.svg' />

      <img class='child78' alt='' src='/img/star-3.svg' />

      <img class='child79' alt='' src='/img/star-3.svg' />

      <img class='child80' alt='' src='/img/star-3.svg' />

      <img class='child81' alt='' src='/img/star-3.svg' />

      <div class='sparkle7'>sparkle</div>
      <img class='icon-16' alt='' src='/img/icon-1@2x.png' />

      <img class='image-1-icon6' alt='' src='/img/image-1@2x.png' />
    </header>

    <div class='pea-de-cima1'>Peça de Cima</div>
    <div class='photos-select'>
      <img class='peca pt-cima1' width='100px' height='100px' src='/img/pt-cima/pt-cima1.png' alt='' />
      <img class='peca pt-cima2' width='100px' height='100px' src='/img/pt-cima/pt-cima2.png' alt='' />
      <img class='peca pt-cima3' width='100px' height='100px' src='/img/pt-cima/pt-cima3.png' alt='' />
      <img class='peca pt-cima4' width='100px' height='100px' src='/img/pt-cima/pt-cima4.png' alt='' />
      <img class='peca pt-cima5' width='100px' height='100px' src='/img/pt-cima/pt-cima5.png' alt='' />
      <img class='peca pt-cima6' width='100px' height='100px' src='/img/pt-cima/pt-cima6.png' alt='' />
      <img class='peca pt-cima7' width='100px' height='100px' src='/img/pt-cima/pt-cima7.png' alt='' />
      <img class='peca pt-cima8' width='100px' height='100px' src='/img/pt-cima/pt-cima8.png' alt='' />
      <img class='peca pt-cima9' width='100px' height='100px' src='/img/pt-cima/pt-cima9.png' alt='' />
      <img class='peca pt-cima10' width='100px' height='100px' src='/img/pt-cima/pt-cima10.png' alt='' />
    </div>
    <div class='rectangle-parent10'>
      <a href='pagina-inicial' class='ex-regata-branca'>
        <button class='group-child9'> Salvar
        </button>
      </a>


      </a>
    </div>
  </div>
</body>
<script src='/js/selectPecaCima.js'></script>

</html>